<template>
  <require from="../value-converters/date-format"></require>

  <section>
    <h2>${post.title}</h2>

    <div>${post.createdAt | dateFormat} by <a href="#">${post.author}</a></div>

    <ul class="list menu">
      <li repeat.for="tag of post.tags"><a>${tag}</a></li>
    </ul>

    <p>${post.body}</p>
  </section>
</template>
