<template>
  <require from="../../resources/elements/blog-post"></require>

  <section if.bind="error">
    <h2>${error}</h2>
  </section>

  <div repeat.for="post of posts">
    <blog-post post.bind="post"></blog-post>

    <a route-href="route: post-view; params.bind: {slug: post.slug}"
      >View Post</a
    >
  </div>
</template>
