<template>
  <h2>Todo Page</h2>

  <ul>
    <li repeat.for="todo of todoList">
      <input type="checkbox" checked.bind="todo.done" />
      <label css="text-decoration: ${todo.done ? 'line-through' : 'none'}"
        >${todo.description}</label
      >
      <button click.delegate="removeTodo(todo)">Remove</button>
    </li>
  </ul>

  <input value.bind="newItem" />
  <button click.delegate="addItem()">Add</button>
</template>
