<template>
  <require from="./assets/styles/blog.css"></require>

  <h1>${message}</h1>
  <header>
    <nav>
      <ul class="list menu">
        <li><a route-href="home">Home</a></li>
        <!-- <li><a route-href="log-in">Log In</a></li>
        <li><a route-href="sign-up">Sign Up</a></li>
        <li><a route-href="new-post">New Post</a></li>
        <li><a route-href="log-out">Log Out</a></li> -->
        <!-- <li><a route-href="todo">Todo</a></li> -->
      </ul>
    </nav>
  </header>
  <router-view></router-view>

  <main>
    <aside>
      <div>
        <h3>Tags</h3>
        <ul class="list">
          <li><a>aurelia</a></li>
          <li><a>javascript</a></li>
          <li><a>react</a></li>
          <li><a>css</a></li>
        </ul>
      </div>

      <div>
        <h3>Archives</h3>
        <ul class="list">
          <li><a>March 2014</a></li>
          <li><a>jFebruary 2014</a></li>
        </ul>
      </div>
    </aside>
  </main>
</template>
